@import url('https://fonts.googleapis.com/css?family=Gudea:700|Heebo:500|Montserrat');
:root{
   --blue: rgb(12, 0, 68);
   --yellow: rgb(217, 255, 0);
}

body, html * {
   font-family: "Montserrat", sans-serif;
   background: rgb(217, 255, 0);
   color:  rgb(24, 7, 98);
}
section {
   width: 80vw;
   max-width: 960px;
   min-width: 320px;;
   margin: 0 auto;
}
input[type="button"],
input[type="file"]{
   display: none;
   background: rgb(12, 0, 68);
}
a.btn {
   display: block;
   width: 100%;
   max-width: 608px;
   margin:0 auto; 
   text-align: center;
   background: rgb(12, 0, 68);
   color: rgb(217, 255, 0);
   text-decoration: none;
   line-height:32px;
   margin: 16px auto; 
   border-radius: 4px;
   &:hover {
      transform:scale(0.99) translate3d();
   }
}
h1,h2,h3 {
   font-family: "Gudea", sans-serif;
}