@font-face {
  font-family: "dosis";
  src: url("../assets/fonts/Dosis/Dosis-Regular.ttf");
}

@font-face {
  font-family: 'courgette';
  src: url("../assets/fonts/Courgette/Courgette-Regular.ttf");
}
